<h1><%= @task.title %></h1>

<%= render 'form', task: @task %>

<!-- <form action="/update" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <label for="name">Title: </label>
  <input type="text" name="task[title]" id="title">

  <label for="details">details: </label>
  <input type="text" name="task[details]" id="details">

  <input type="submit">
</form>

 -->
